@font-face {
    font-family: 'Tex Gyre Bonum';
    src: url('texgyrebonum-bold-webfont.eot');
    src: url('texgyrebonum-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyrebonum-bold-webfont.woff') format('woff'),
         url('texgyrebonum-bold-webfont.ttf') format('truetype'),
         url('texgyrebonum-bold-webfont.svg#tex_gyre_bonumbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Raleway');

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: url("background-noise.png");
  /*background-color: #fff;*/
  font: 18px 'Anonymous Pro', Arial, sans-serif;
  color: rgba(0,0,0,0.7);
  font-weight: 400;
  line-height: 1.6;
  /*font-size: 100%;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
  font-weight: lighter;
  color: #555;
  /*text-shadow: 1px 1px #444;*/
  /*font-weight: 700;*/
  /*font-size: 100%; */
}

h1 { font-size: 3em; }
h2 { font-size: 3em; letter-spacing: -1.5pt;}
h3 { font-size: 1.5em; margin-bottom: 0;}
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }
h3 + p { margin-top: 0.3em;}

ul, ol { list-style: none;}

a         { color: #258ee7; font-weight: 500; text-decoration: none;}
a:visited { color: #2875b5; }
a:hover   { color: #353535; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.landing {
  /*background: #191919;*/
  position: relative;
  overflow: auto;
  padding: 70px 0 20px 40px;
  /*height: 290px;*/
}

.landing > div {
  display: block;
  float: left;
  margin: 0 40px 0 0;
  box-sizing: border-box;
  height: 100%;
}

.logo {
  margin: 0 0 12px;
  position: relative;
  top: -24px;
}
.logo a {
  transition: all 0.2s ease;
  width: 256px; height: 128px;
  padding: 0 0 0 0;
  display: inline-block;
  text-indent: -9999px;
  background: url('logo-big.png')  no-repeat;
  background-size: contain;
  opacity: 0.9;
}


.logo a:hover {
  opacity: 0.7 !important;
}

.intro {
  max-width: 580px;
  column-count: 2;
}

.card {
  position: relative;
  /*margin: -160px 0px;*/
  margin: 20px auto;
  /*padding: 60px 0;*/
  /*position: relative; top: 50%; left: 50%;*/
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  /*color: #f9f9f9;*/
  /*background: rgba(0,0,0, 0.9);*/
  /*background-opacity: 0.8;*/
  border-radius: 18px;
  /*box-shadow: 0 0 0 8px rgba(115, 115, 115, 0.4);*/
  /*box-shadow: 0 0 0 8px rgba(0,0,0, 0.4);*/
}


.card address {
  padding: 0 0 0 30px;
}

.card .twitter {
  padding: 0 0 0 81px;
}

.card .twitter .fa {
  font-size: 30px;
  vertical-align: middle;
}


.card a {
  clear: both;
  margin: auto;

  word-spacing: -0.1em;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  /*color: #e0e0e0;*/
  color: #333;
}

.card a:hover {
  color: #258ee7;
}

.card a em {
  font-size: 1.2em;
  font-style: normal;
  font-weight: lighter;
  /*padding: 0 4px;*/
  /*color: #d0d0d0;*/
  color: #555;
}


.tags {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  width: 240px;
  top: 0;
  right: 0;
  text-align: right;
}

.tags a {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 3px;
}

.tags a.some {
  color: #666;
}

.tags a.few {
  color: #999;
}

.tags a:hover{
  color: #258ee7;
}

.tags a.active {
  background: black;
  color: white;
  opacity: 1 !important;
}

.site {
  padding: 20px 40px;
  overflow: hidden; /* Clearfix! */
  zoom: 1;  /* Triggering "hasLayout" in IE */
  z-index: 10;
  min-height: 100%;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  /*text-align: center;*/
}

.posts li {
  float: left;
  width: 320px; height: 240px;
  margin: 20px 40px 20px 0;
  text-align: left;
}

.posts li a img {
  transition: all 0.2s ease;
  width: 100%;
  border-radius: 6px;
  opacity: 0.8;
}

.posts li a:hover img {
  opacity: 1;
}

.posts a:hover span {
  transition: all 0.2s ease;
}

.posts a:hover span {
  color: #258ee7;
  text-shadow: 0px 0px 2px #258ee7;
}

.posts .title {
  position: relative;
  left: 8px;
  top: -53px;
}

.posts .title span{
  box-shadow: 0 0 6px 0 rgba(0,0,0, 0.8);
  /*display: block;*/
  margin: 0 auto;
  /*font-size: 120%;*/
  font-weight: 400;
  padding: 0.2em 0.8em 0.3em;
  background: #33312f;
  /*background: #191919;*/
  color: #e8e1da;
  text-shadow: 0px 0px 2px #e8e1da;
}

.posts li:nth-child(1n) .title { transform: rotate(1.1deg); }
.posts li:nth-child(2n) .title { transform: rotate(-2.5deg); }
.posts li:nth-child(3n) .title { transform: rotate(3.1deg); }
.posts li:nth-child(5n) .title { transform: rotate(-0.8deg); }

.posts li:nth-child(3n-1) .title { left: -5px; }
.posts li:nth-child(5n-1) .title { left: 3px; }
/*
ul.posts span.date{
  position: relative;
  top: -30px;
  left: 320px;
}*/


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post .logo a {
  opacity: 0.2;
}

.post .landing {
  padding-bottom: 0;
}
.post .site {
  padding-top: 0;
}

.logo span {
  position: relative;
  top: 20px;
  left: 20px;
}

.post .content {
  margin: 0 auto;
  max-width: 720px;
}


/* standard */
.post p {
  /*text-align: justify;*/
  max-width: 720px;
}

.post hr {
  max-width: 720px;
  height: 1px;
  background-color: #333;
  border: none;
}

.post .highlight {
  max-width: 720px;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}


.post img {
  max-width: 100%;
  max-height: 800px;
}

.post ul {
  position: relative;
}

.post ul img {
  /*width: 720px;*/
}

.imlist {list-style:none; padding:0 220px 0 0; margin:0;display: inline-block; width: 720px;}
.imlist li img {display:inline; cursor:pointer; }
.imlist li { float:right; padding:0; display:block; overflow:hidden; margin-right:-220px;clear:right; display:block;}
.imlist li:first-child {max-width:100%; float:left; margin:0; padding:0;}
.imlist li:first-child img {max-width:100%; max-height:900px;}
.imlist li:nth-child(n+2) img {max-width: 200px}
.imlist li:nth-child(n+2) img:hover { opacity: 0.7;}

.meta {
  font: 14px "Monaco", "Courier Mono", mono;
  text-align: right;
  margin: 0;
  color: #aaa;
}

.post p ul, .post p ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post .related {
  max-width: 720px;
  margin: 80px auto 0;
}

.post .related li {
  display: inline-block;
  margin: 5px 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0, 0.8);
  font-weight: 400;
  padding: 0.2em 0.8em 0.3em;
  background: #33312f;
  /*background: #191919;*/
  text-shadow: 0px 0px 2px #e8e1da;
}

.post .related li:nth-child(1n) { transform: rotate(0.7deg); }
.post .related li:nth-child(2n) { transform: rotate(-1deg); }
.post .related li:nth-child(3n) { transform: rotate(1.1deg); }
.post .related li:nth-child(5n) { transform: rotate(-0.8deg); }

.post .related a {
  color: #e8e1da;
}

.post .related a:hover {
  color: #258ee7;
  text-shadow: 0px 0px 2px #258ee7;
}

/*.post .related li a{
  display: inline-block;
  padding: 0em 0.4em;
  top: -53px; left: -10px;
  color: #65b8ff;
  text-shadow: 1px 1px 4px black;
  background-position: center;
}
.post .related li a:hover{
  color:white;
}*/

.post #disqus_thread {
  margin: 40px auto 0;
  max-width: 720px;
}

/*****************************************************************************/
/*
/* <= 2 Columns (compress site)
/*
/*****************************************************************************/

@media screen and (max-width:859px) {

  .imlist {
    width: 100%;
  }

  .imlist li {
    float: left;
    margin-right: 0;
    clear: none;
  }

  .intro {
    column-count: 1;
  }

  .site{
    padding-right: 20px;
    padding-left: 20px;
  }

  .tags {
    position: relative;
    width: 100%;
    text-align: left;
  }

  .posts li {
    margin: 20px 20px 20px 0;
  }

}
