---
title: noio
layout: default
---
Thomas van den Berg creates games and game-like things with a small studio named &lsquo;noio&rsquo;.
I love working on code, art, and the magic that happens when those come together.
This page is a combination blog and portfolio of some things I've done.
Probably the most well-known thing I made is the <a href='http://www.kingdomthegame.com'>Kingdom Series</a> , a minimalist strategy game in a pixel art style.
Want to get in touch? Ask anything? Just have a chat? Email or tweet me.

<div style="margin: 20px auto; text-align: center">thomas@noio.nl // <a href="http://www.twitter.com/noio_games">twitter: @noio_games</a></div>

<ul>
    {% for post in site.posts %}
      {% assign main_tag = '' %}
      {% for tag in post.tags %}
        {% if tag != "posts" %}
          {% assign main_tag = tag %}
        {% endif %}
      {% endfor %}
      <li>{{ post.date | date: '%Y %b' }} — <a href="{{post.url}}">{{ post.title }}</a> 
        {% if main_tag != '' %}<span class="tag">({{main_tag}})</span>{% endif %}
      </li>
    {% endfor %}
</ul>
