---
layout: default
title: noio
---

<div class="landing">
  
  <h1 class="logo"><a href="/">noio</a></h1>

  <div class="card">
    <strong class="accent ">Hiya,</strong>
    <a href="https://twitter.com/noionl" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @noionl</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p><em>noio</em> is the web home of</p>
    <h2 class="accent dark"><span>Thomas&nbsp;</span><span>van den Berg</span></h2>
    <address>
      <a href="mailto:thomas@noio.nl" target="_blank">&lt;thomas@noio.nl&gt;</a>
    </address>
  </div>

  <div class="scrollhint">
    scroll
    <span>&#x25BC;</span>
  </div>
  
  <div class="intro">
    <div class="top">
    <p>
      This website is mostly a showcase of some of the stuff I do, like:
      <!-- No blah-blah here, this is what I do: -->
    </p>
    </div>
    <div class="bottom">
      <p class="tags">
      {% for tag in site.tags %}
        <a  href='/#{{ tag | first | replace:' ','-' }}' class='tag-{{ tag | first | replace:' ','-' }} {% if tag.last.size < 3 %}few{% elsif tag.last.size < 5 %}some{% else %}many{% endif %}'>{{ tag | first }},</a>
      {% endfor %}
      </p>
    </div>
  </div>
</div>

<div class="site">
    <ul class="posts">
    {% for post in site.posts %}
    	<li>
        {% for tag in post.tags %}
          <meta name="tags" content="{{tag | replace:' ','-'}}"/>
        {% endfor %}
    		  <a href="{{ post.url }}">
    		{% if post.thumbnail %}
    			<img src="{{post.thumbnail}}"/>
    		{% else %}
    			<img src="css/nothumb.png"/>
    		{% endif %}
        <div class='title'><span>{{ post.title }}</span></div>
        </a>
    		<!-- <span class='date'>{{ post.date | date: "%b %Y" }}</span>  -->
    	</li>

    {% endfor %}
  </ul>
</div>
