---
title: noio
layout: default
---
Thomas van den Berg creates games and game-like things with a small studio named &lsquo;noio&rsquo;.
I love working on code, art, and the magic that happens when those come together.
This page is a combination blog and portfolio of some things I've done.
Last big thing I worked on is <a href='http://www.kingdomthegame.com'>Kingdom</a>, a minimalist strategy game in a
pixel art style.
Want to get in touch? Ask anything? Just have a chat? Email or tweet me.

<div style="margin: 20px auto; text-align: center">thomas@noio.nl // <a href="http://www.twitter.com/noionl">twitter: @noionl</a></div>

<ul>
    {% for post in collections.posts reversed %}
      {% for tag in post.data.tags %}
        {% if tag != "posts" %}
          {% assign main_tag = tag %}
        {% endif %}
      {% endfor %}
      <li>{{ post.date | date: '%Y %b' }} — <a href="{{post.url}}">{{ post.data.title }}</a> 
        {% if main_tag != blank %}<span class="tag">({{main_tag}})</span>{% endif %}
      </li>
    {% endfor %}
</ul>